.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
}

    .loading:after {
        position: absolute;
        width: 10px;
        height: 10px;
        background: transparent;
        display: block;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -25px;
        content: '';
        border-radius: 50%;
        animation: loading 1s infinite linear;
    }

@keyframes loading {
    0% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;
    }

    5% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 2px #ddd;
    }

    15% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 8px #ddd;
    }

    20% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 2px #ddd, -20px 0 0 10px #ddd;
    }

    25% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 8px #ddd, -20px 0 0 5px #ddd;
    }

    30% {
        box-shadow: 60px 0 0 2px #ddd, 20px 0 0 10px #ddd, -20px 0 0 2px #ddd;
    }

    35% {
        box-shadow: 60px 0 0 8px #ddd, 20px 0 0 5px #ddd, -20px 0 0 0 #ddd;
    }

    40% {
        box-shadow: 60px 0 0 10px #ddd, 20px 0 0 2px #ddd, -20px 0 0 0 #ddd;
    }

    45% {
        box-shadow: 60px 0 0 5px #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;
    }

    50% {
        box-shadow: 60px 0 0 2px #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;
    }

    65% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;
    }

    100% {
        box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;
    }
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova.eot');
    src: url('../fonts/Proxima Nova.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova.woff') format('woff'), url('../fonts/Proxima Nova.ttf') format('truetype'), url('../fonts/Proxima Nova.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
}

.section-row {
    padding-bottom: 2em;
}

.task-meta {
    margin-bottom: 0px;
}

.project-group {
    padding-bottom: 1em;
}

.project-btn:focus {
    box-shadow: none !important;
}

.btn-edit, .btn-incomplete {
    color: #6c757d;
    background-color: transparent;
}

    .btn-edit:hover, .btn-incomplete:hover, .btn-delete:hover, .btn-complete:hover {
        filter: brightness(75%);
    }

.btn-delete {
    color: #dc3545;
    background-color: transparent;
}

.btn-complete {
    color: #28a745;
    background-color: transparent;
}

.col-leading {
    padding-left: 0;
}

.col-trailing {
    padding-right: 0;
}